<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="/css/leaderboard.css" rel="stylesheet" />
</head>
<body>
<div id="gbody">
    <input type="button" id="resetbtn" v-on:click="reset" :disabled="disableReset" value="RESET"/>
    <input type="button" id="rollbackbtn" v-on:click="rollback" :disabled="disableRollback" value="ROLLBACK"/>
    <div>
        <span>Score:</span><span> {{ map ? map.score : 0 }} </span>
    </div>
    <gmap :source="map" :size="size"></gmap>
</div>


    <template id="map-component-template">
        <div class="table">
            <template v-for="item of items" track-by="$index">
                <row :source="item" :size="size"></row>
            </template>
        </div>
    </template>

    <template id="row-component-template">
        <div class="row">
            <template v-for="item of items" track-by="$index">
                <cell :source="item"></cell>
            </template>
        </div>
    </template>

    <template id="cell-component-template">
        <div class="cell1">
            <span>{{ item.value }}</span>
        </div>
    </template>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/initmobile.js"></script>
    <script src="/js/vue-game-single.js?0222" ></script>

</body>
</html>