<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="/css/leaderboard.css" rel="stylesheet" />
</head>
<body>
<div id="gbody">
    <input type="button" id="resetbtn" :disabled="disableReset" value="RESET"/>
    <input type="button" id="rollbackbtn" :disabled="disableRollback" value="ROLLBACK"/>

    <gmap :mapItems="map" :size="size"></gmap>
</div>


    <template id="map-component-template">
        <div class="table">
            <template v-for="item of mapItems">
                <row-component-template :items="item"></row-component-template>
            </template>
        </div>
    </template>

    <template id="row-component-template">
        <div class="row">
            <template v-for="item of items">
                <cell-component-template :item="item"></cell-component-template>
            </template>
        </div>
    </template>

    <template id="cell-component-template">
        <div class="cell1">
            <span>{{ item.Value }}</span>
        </div>
    </template>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="/js/vue-game-single.js" ></script>

</body>
</html>